<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : app_display_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  // User Echo Code Starts HERE
  var _ues = {
    host:'fundarealty.userecho.com',
    forum:'18655',
    lang:'en',
    tab_corner_radius:5,
    tab_font_size:20,
    tab_image_hash:'ZmVlZGJhY2s%3D',
    tab_chat_hash:'Y2hhdA%3D%3D',
    tab_alignment:'left',
    tab_text_color:'#FFFFFF',
    tab_text_shadow_color:'#00000055',
    tab_bg_color:'#57A957',
    tab_hover_color:'#F45C5c'
  };

  (function() {
    var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
    _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
  })();
  // User Echo Code Ends HERE

  // Google Analytics Code Starts HERE
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39697419-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  // Google Analytics Code Ends HERE
  </script>
</head>
<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=376531562434266";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#"><i class="icon-home icon-large"></i> <%= app_display_name %></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="#about">About</a></li>
            <li><a href="http://fundarealty.userecho.com/forum/18656-helpdesk/">Support</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#login">Log In</a></li>
            <li><a href="#signup">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <%= yield %>

</body>
</html>
